<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="utf-8">
  <title>AROW │ “AROW” is an Augmented Reality Development Platform which includes geolocation data and 3D real map.</title>
  <meta name="description" content="“AROW” is an Augmented Reality Development Platform which includes geolocation data and 3D real map.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/base.css" rel="stylesheet">

  <script src="//assets.peraichi.com/js/const_common.js"></script>
  <script src="//assets.peraichi.com/js/const_production.js"></script>
  <script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
  <script src="//static.quant.jp/lait.js" data-lait="on" data-sid="2bad96c669fe37b88a24137c4092b472" data-tag-version="1.0.0" defer async></script>
  <link rel="icon" href="img/icon.png">
  <meta name="google-site-verification" content="4jkQn9H_85WYb7HsATsqXN9S_MF87m1CffwXyaKro9I">
  <meta property="og:image" content="img/ogimage.jpg">
  <meta property="og:url" content="https://arow.world/">
  <meta property="og:title" content="AROW │ “AROW” is an Augmented Reality Development Platform which includes geolocation data and 3D real map.">
  <meta property="og:site_name" content="AROW │ “AROW” is an Augmented Reality Development Platform which includes geolocation data and 3D real map.">
  <meta property="og:type" content="website">
  <meta property="og:description" content="“AROW” is an Augmented Reality Development Platform which includes geolocation data and 3D real map.">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script>
    $(function() {
      // 設定
      var $interval = 3000; // 切り替わりの間隔（ミリ秒）
      var $fade_speed = 1000; // フェード処理の早さ（ミリ秒）
      $("#slide ul li").css({
        "position": "relative",
        "overflow": "hidden"
      });
      $("#slide ul li").hide().css({
        "position": "absolute",
        "top": 0,
        "left": 0
      });
      $("#slide ul li:first").addClass("active").show();
      setInterval(function() {
        var $active = $("#slide ul li.active");
        var $next = $active.next("li").length ? $active.next("li") : $("#slide ul li:first");
        $active.fadeOut($fade_speed).removeClass("active");
        $next.fadeIn($fade_speed).addClass("active");
      }, $interval);
    });
  </script>
  <script>
    $(function() {
      // 設定
      var $interval = 3000; // 切り替わりの間隔（ミリ秒）
      var $fade_speed = 1000; // フェード処理の早さ（ミリ秒）
      $("#slide02 ul li").css({
        "position": "relative",
        "overflow": "hidden"
      });
      $("#slide02 ul li").hide().css({
        "position": "absolute",
        "top": 0,
        "left": 0
      });
      $("#slide02 ul li:first").addClass("active").show();
      setInterval(function() {
        var $active = $("#slide02 ul li.active");
        var $next = $active.next("li").length ? $active.next("li") : $("#slide02 ul li:first");
        $active.fadeOut($fade_speed).removeClass("active");
        $next.fadeIn($fade_speed).addClass("active");
      }, $interval);
    });
  </script>

  <script>
    var player;

    function onYouTubeIframeAPIReady() {
      player = new YT.Player('movieArea', { //ここに表示させる領域のIDを記述する
        height: '360', //動画の高さ指定
        width: '640', //動画の幅指定
        videoId: 'I8oRlOsqytM', //youtubeにアップした動画のID指定
        events: {
          'onReady': onPlayerReady //プレイ準備完了時の動作
        },
        //ここからカスタマイズ
        playerVars: {
          rel: 0, //最初の動画の再生が終了（または停止）したときに、プレーヤーに関連動画を表示するかどうか　0:表示しない 1:表示する　デフォルトは1
          playlist: 'I8oRlOsqytM', //次に流すyoutubeにアップした動画のID指定
          loop: 1, //ループをするかどうか　0:ループしない 1:ループをする　デフォルトは0
          controls: 1, //コントローラーを表示させるか　0:コントローラー無し 1:コントローラー有り　デフォルトは1
          autoplay: 1, //オートで再生させるか　0:オートで再生させない　1：オートで再生する　デフォルトは0
          showinfo: 0 //上部の動画タイトルを表示について　0：タイトルを表示させない　1：タイトルを表示させる　デフォルトは1
        }
      });
    }
    //プレイ準備完了時の動作
    function onPlayerReady(event) {
      event.target.playVideo(); // 動画再生
      event.target.mute(); // ミュートにする
    }
  </script>
  <!-- Facebook Pixel Code -->
  <script>
    ! function(f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function() {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '294598757794108');
    fbq('track', 'PageView');
    fbq('track', 'ViewContent');
  </script>
  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=294598757794108&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->
  <script type="text/javascript" src="js/lazysizes.min.js"></script>
  <script type="text/javascript" src="js/lazyLoad.js"></script>
  <script type="text/javascript" src="js/peraichi_setting.js"></script>
</head>

<body class="theme-base theme-blank" data-template-name="blank" style="overflow: auto; padding-top: 0px;">
  <div class="pera1-section block" data-structure="b-header-nav-logo-img" id="section-2">
    <div class="p-header">
      <div class="section">
        <div class="m_navigation p-m_navigation u-align-right pera1-editable" data-pera1-type="navigation" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); text-align: right;">
          <div class="grid-wrapper grid-wrapper--lg p-navigation__wrapper">
            <div class="p-navigation row middle-xs">
              <div class="c-inner c-inner--vertical c-inner--one-elem c-inner-sp--sm">
                <div class="navigationHeader p-navigationHeader col-xs-12 col-md">
                  <div class="p-header__nav-heading p-header__logo c-img c-img--responsive-v u-align-left pera1-removable"><img class="pera1-editable" src="img/logo.png"
                      alt="" data-structure="e-img">
                  </div>
                </div>
                <div class="btn_navigationToggle p-btn_navigationToggle"><i class="fa"></i></div>
              </div>
              <ul class="m_navigationMenu p-m_navigationMenu col-xs-12 col-md u-fslg" data-textcolor="#fff" style="color: rgb(255, 255, 255);">
              </li><li><a href="./" target="_self">日本語</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-html-code" data-block-name="HTML埋め込み(横幅フル)" id="section-30">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="0">
      <div class="pera1-editable" data-pera1-type="embed_html" data-pera1-embed_block_id="5b7e5402-f760-4a93-aa12-79990a0000c5">
        <div class="youtube">
          <div id="movieArea"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-html-code" data-block-name="HTML埋め込み" id="section-31">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
      <div class="c-wrapper">
        <div class="c-inner c-inner--lg c-inner--vertical">
          <div class="pera1-editable" data-pera1-type="embed_html" data-pera1-embed_block_id="5b8359a4-ef2c-447b-a113-2d180a0000fe">
            <div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-6">
              <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
                <div class="c-wrapper u-align-center">
                  <div class="c-inner c-inner--lg c-inner--vertical">

                    <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="img/logo2.png" alt="" data-structure="e-img" style="width:50%;max-width: 250px;">
                    </div>
                    <div class="c-wrapper c-wrapper--no-gutter c-wrapper--sm u-mbmd pera1-removable">
                      <div data-structure="e-text" class="pera1-editable font-size-20px">
                        <p>"Arrow" is a new platform based on 3D real map and geospatial data</p>
                        <p>which can bring immersive gaming experiences to life!</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-cards--2col" data-block-name="上画像(2列)" id="section-5">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
      <div class="c-wrapper u-align-center">
        <div class="c-inner c-inner--lg c-inner--vertical">

          <div class="pera1-removable">
            <div data-structure="m-cards">
              <div class="grid-wrapper grid-wrapper--full">
                <div class="row center-xs row-item-gutter--lg">
                  <div class="u-mbmd col-xs-12 col-sm-6 pera1-removable">
                    <div data-structure="m-card">
                      <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="img/map.png" alt="" data-structure="e-img">
                      </div>
                      <div class="c-heading u-mbmd pera1-removable">
                        <div data-structure="e-heading" class="pera1-editable">3D MAP<br></div>
                      </div>


                    </div>
                  </div>
                  <div class="u-mbmd col-xs-12 col-sm-6 pera1-removable pera1-multiple" data-elem-name="m-card">
                    <div data-structure="m-card">
                      <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="img/poi.png" alt="" data-structure="e-img">
                      </div>
                      <div class="c-heading u-mbmd pera1-removable">
                        <div data-structure="e-heading" class="pera1-editable">POI (Point of Interest)<br></div>
                      </div>


                    </div>
                  </div>
                  <div class="u-mbmd col-xs-12 col-sm-6 pera1-removable pera1-ghost pera1-add" data-elem-name="m-card" style="opacity: 0; height: 50px;">
                    <div data-structure="m-card">
                      <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="img/poi.png" alt="" data-structure="e-img">
                      </div>
                      <div class="c-heading u-mbmd pera1-removable">
                        <div data-structure="e-heading" class="pera1-editable">POI Data<br></div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-html-code" data-block-name="HTML埋め込み(横幅フル)" id="section-24">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
      <div class="pera1-editable" data-pera1-type="embed_html" data-pera1-embed_block_id="5b7d1b2a-ca10-4e7b-a6c5-0b240a00002b">
        <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
          <div class="c-wrapper u-align-center">
            <div class="c-inner c-inner--lg c-inner--vertical">
              <div class="c-heading u-mbmd pera1-removable">
                <h2 data-structure="e-heading" class="pera1-editable">
                  <p>3D Real Map * In-Game Experiences</p>
                </h2>
              </div>
              <div class="c-img c-img--responsive u-mbmd pera1-removable">
                <div id="slide">
                  <ul>
                    <li><a href=""><img src="img/map_img_01.jpg" alt="" width="640" height="360" /></a></li>
                    <li><a href=""><img src="img/map_img_02.jpg" alt="" width="640" height="360" /></a></li>
                    <li><a href=""><img src="img/map_img_03.jpg" alt="" width="640" height="360" /></a></li>
                  </ul>
                </div>
              </div>
              <div class="c-wrapper c-wrapper--no-gutter c-wrapper--sm u-mbmd pera1-removable">
                <div data-structure="e-text" class="pera1-editable">
                  <p>The user of this platform can easily edit or customize 3D real map on Unity</p>
                  <p>by replacing objects or by changing textures according to in-game atmosphere.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-html-code" data-block-name="HTML埋め込み(横幅フル)" id="section-25">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="4">
      <div class="pera1-editable" data-pera1-type="embed_html" data-pera1-embed_block_id="5b7d31af-a198-4f2b-905f-338e0a00002b">
        <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
          <div class="c-wrapper u-align-center">
            <div class="c-inner c-inner--lg c-inner--vertical">
              <div class="c-heading u-mbmd pera1-removable">
                <h2 data-structure="e-heading" class="pera1-editable">
                  <p>In Game Features * Point of Interest</p>
                </h2>
              </div>
              <div class="c-img c-img--responsive u-mbmd pera1-removable">
                <div id="slide02">
                  <ul>
                    <li><a href=""><img src="img/map_img02_01.jpg" alt="" width="640" height="360" /></a></li>
                    <li><a href=""><img src="img/map_img02_02.jpg" alt="" width="640" height="360" /></a></li>
                  </ul>
                </div>
              </div>
              <div class="c-wrapper c-wrapper--no-gutter c-wrapper--sm u-mbmd pera1-removable">
                <div data-structure="e-text" class="pera1-editable">
                  <p>In-game level design associated with real world GIS data, Point of interest,</p>
                  <p>can create real in-game experiences</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-article-img-full-left" id="section-17">
    <div class="p-article-img-full grid-wrapper grid-wrapper--full">
      <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
        <div class="row row-item-gutter--none middle-xs center-xs">
          <div class="col-xs-12 col-sm pera1-removable">
            <div class="c-img c-img--full"><img class="pera1-editable" src="img/spec.png" alt="" data-structure="e-img">
            </div>
          </div>
          <div class="col-xs-12 col-sm start-xs u-mtmd pera1-removable">
            <div class="p-article-img-full__contents p-article-img-full-left__contents">
              <div class="c-heading u-mbmd pera1-removable">
                <h2 data-structure="e-heading" class="pera1-editable">Easy for Solo or Indie Developers to start with</h2>
              </div>
              <div class="u-mbmd pera1-removable">
                <div data-structure="e-text" class="pera1-editable">
                  <p>Installing AROW, including open source map and POI data, directly onto the developer's server can help keep costs down and aid in developing a solid business scheme.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-html-code" id="section-11">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="6">
      <div class="pera1-editable" data-pera1-type="embed_html" data-pera1-embed_block_id="5b5eb5ab-ac4c-41b0-ac1f-400c0a0000fe">
        <div class="pera1-section block" data-structure="b-cards--2col" data-block-name="上画像(2列)" id="section-5">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
            <div class="c-wrapper u-align-center">
              <div class="c-inner c-inner--lg c-inner--vertical">
                <div class="c-heading u-mbmd pera1-removable">
                  <h2 data-structure="e-heading" class="pera1-editable">
                    <p>Prototype Test Build with AROW</p>
                  </h2>
                </div>

                <div class="pera1-removable">
                  <div data-structure="m-cards">
                    <div class="grid-wrapper grid-wrapper--full">
                      <div class="row center-xs row-item-gutter--lg">
                        <div class="u-mbmd col-xs-12 col-sm-6 pera1-removable">
                          <div data-structure="m-card">
                            <div class="c-heading u-mbmd pera1-removable">
                              <div data-structure="e-heading" class="pera1-editable">Animal Land</div>
                              <p class="text-07">Target Release Date: 2018 Fall</p>
                            </div>
                            <div class="c-img c-img--responsive u-mbmd pera1-removable"><iframe width="560" height="315" src="https://www.youtube.com/embed/blrkst7Scyo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="text-move">
                              <p>Turn known locations into amusement parks! Control your animal cart and explore the city to get the best score! The player can replenish their time by visiting schools or police stations with animal cart. Explore the city, and try to achieve top scores in your area!</p>
                            </div>
                          </div>
                        </div>
                        <div class="u-mbmd col-xs-12 col-sm-6 pera1-removable pera1-multiple" data-elem-name="m-card">
                          <div data-structure="m-card">
                            <div class="c-heading u-mbmd pera1-removable">
                              <div data-structure="e-heading" class="pera1-editable">Thrown into Zombie (tentative)</div>
                              <p class="text-07">Now in progress</p>
                            </div>
                            <div class="c-img c-img--responsive u-mbmd pera1-removable"><iframe width="560" height="315" src="https://www.youtube.com/embed/oFQm0_mfK74" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="text-move">
                              <p>Roll a huge sphere in a city full of zombies! Exterminate them to regain control. Customize your sphere to become more powerful! Find out the most effective way to exterminate zombies by looking at geographical structures.</p>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-sentence-set--bg" data-block-name="メイン(文章・背景画像あり)" id="section-19">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: url(&quot;img/space.gif&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;"
      data-bg-key="7">
      <div class="c-wrapper c-wrapper--sm u-text-shadow u-align-center">
        <div class="c-inner c-inner--lg c-inner--vertical">
          <div class="c-heading u-mbmd pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable"><strong>Price Plan</strong></h2>
          </div>
          <div class="u-mbmd pera1-removable">
            <div data-structure="e-text" class="pera1-editable font-size-20px">
              <p>Developers will be billed depending on the number of MAUs in their application.</p>
              <p>Detail price list is presently TBA. We currently plan to offer AROW for free when MAU is less than 10K.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-sentence-set--bg" id="section-13">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: url(&quot;img/space.gif&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;"
      data-bg-key="8">
      <div class="c-wrapper c-wrapper--sm u-text-shadow u-align-center">
        <div class="c-inner c-inner--lg c-inner--vertical">
          <div class="c-heading u-mbmd pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable">Release Timing<br></h2>
          </div>
          <div class="u-mbmd pera1-removable">
            <div data-structure="e-text" class="pera1-editable font-size-20px">
              <p>In 2019</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-main-set-2--center" data-block-name="メイン(中央寄せ+ボタン)" id="section-22">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: url(&quot;img/land.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;"
      data-bg-key="9">
      <div class="grid-wrapper">
        <div class="row middle-xs center-xs p-main">
          <div class="col-sm-6 col-xs-12">
            <div class="c-inner c-inner--lg c-inner--vertical">
              <div class="c-heading c-heading--lg u-mblg u-color-white pera1-removable">
                <h2 data-structure="e-heading" class="pera1-editable font-size-28px">We are currently looking for co-partners interested in<br>implemeting our platform in your game for development purposes.<br></h2>
              </div>
              <div class="u-fsmd u-mblg u-color-white pera1-removable">
                <div data-structure="e-text" class="pera1-editable">Please pre-subscribe by filling out the form for future updates about the open beta build.</div>
              </div>
              <div class="c-btn u-mbmd pera1-removable"><a class="pera1-editable" href="https://docs.google.com/forms/d/e/1FAIpQLSfRBGnAMrGwbjj7Iy-XNnUtKhju9TPToQH3_mHIbdD2lZ8E6g/viewform" data-structure="e-btn" target="_blank">Open Beta Build Pre-Subscription </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" id="section-28">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="10" style="background-image: url(&quot;img/black_space.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
      <div class="c-wrapper c-wrapper--sm">
        <div class="c-inner c-inner--lg c-inner--vertical">
          <div data-structure="e-text" class="pera1-editable"><br data-mce-bogus="1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-btn" id="section-27">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="11" style="background-image: url(&quot;img/black_space.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
      <div class="c-wrapper u-align-center">
        <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
          <div class="c-btn"><a class="pera1-editable" href="https://docs.google.com/forms/d/e/1FAIpQLScv1hK-B-xj6JhiVg4QGIvmel-w2OTVTv5lDKYNGWc42mU-GQ/viewform" data-structure="e-btn" target="_blank">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" id="section-29">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="12" style="background-image: url(&quot;img/black_space.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
      <div class="c-wrapper c-wrapper--sm">
        <div class="c-inner c-inner--lg c-inner--vertical">
          <div data-structure="e-text" class="pera1-editable"><br data-mce-bogus="1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-html-code" data-block-name="HTML埋め込み(横幅フル)" id="section-32">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="13">
      <div class="pera1-editable" data-pera1-type="embed_html" data-pera1-embed_block_id="5b835d3f-7644-4a0e-b1f0-51000a00002b">
        <div class="pera1-section block" data-structure="b-img" data-block-name="画像" id="section-26">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="13" style="background-image: url(&quot;img/black_space.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
            <div class="c-wrapper u-align-center">
              <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
                <div class="c-img c-img--responsive"><img class="pera1-editable" src="//cdn.peraichi.com/userData/571076b1-5a98-419f-8193-10640a00005c/img/5b835d03ad59b/original.png" alt="" data-structure="e-img" style="width:60%;max-width: 300px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="14" style="background-image: url(&quot;img/black_space.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
      <div class="c-wrapper c-wrapper">
        <div class="p-footer__inner">
          <div class="u-align-center">
            <div data-structure="e-text" class="pera1-editable"><span id="_mce_caret" data-mce-bogus="true"><span style="background-color: rgb(255, 255, 255);" data-mce-style="background-color: #ffffff;"></span></span>Copyright Drecom Co., Ltd. All
              Rights Reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </div>










  <script id="tmpl_nav" type="text/x-template">
    <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
  <script id="template_html" type="text/x-template"></script>
  <div id="dataGaId" data-id="UA-76789833-2" style="display: none;"></div>
</body>

</html>
