<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="utf-8">
  <title>【メディア掲載】AROWについて4gamer、gamer、SGIに掲載されました。│AROW</title>
  <meta name="description" content="CEDEC 2018にて発表されたAROWについての記事が「4gamer、gamer、SGIに掲載されました。">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../../css/base.css" rel="stylesheet">

  <script src="//assets.peraichi.com/js/const_common.js"></script>
  <script src="//assets.peraichi.com/js/const_production.js"></script>
  <script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
  <script src="//static.quant.jp/lait.js" data-lait="on" data-sid="2bad96c669fe37b88a24137c4092b472" data-tag-version="1.0.0" defer async></script>
  <link rel="icon" href="../../img/icon.png">
  <meta property="og:image" content="../../img/ogimage.jpg">
  <meta property="og:url" content="http://arow.world/news/media/4gamer-sgi-gamer">
  <meta property="og:title" content="【メディア掲載】AROWについて「4Gamer.net」、「Gamer」、「Social Game Info」に掲載されました。│ AROW">
  <meta property="og:site_name" content="【メディア掲載】AROWについて4gamer、gamer、SGIに掲載されました。│AROW">
  <meta property="og:description" content="CEDEC 2018にて発表されたAROWについての記事が「4gamer、gamer、SGIに掲載されました。">
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
  <script type="text/javascript" src="../../js/lazysizes.min.js"></script>
  <script type="text/javascript" src="../../js/lazyLoad.js"></script>
  <script type="text/javascript" src="../../js/peraichi_setting.js"></script>
</head>

<body class="theme-base theme-blank" data-template-name="blank" style="overflow: auto; padding-top: 0px;">
  <div class="pera1-section block" data-structure="b-html-code" data-block-name="HTML埋め込み(横幅フル)" id="section-14">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="0">
      <div class="pera1-editable" data-pera1-type="embed_html" data-pera1-embed_block_id="5b90c7c2-02fc-45dc-9b74-6e980a0000c5">
        <div class="pera1-section block" data-structure="b-header-nav-logo-img" data-block-name="左画像+右メニュー" id="section-2">
          <div class="p-header">
            <div class="section">
              <div class="m_navigation p-m_navigation u-align-right pera1-editable" data-pera1-type="navigation" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); text-align: right;">
                <div class="grid-wrapper grid-wrapper--lg p-navigation__wrapper">
                  <div class="p-navigation row middle-xs">
                    <div class="c-inner c-inner--vertical c-inner--one-elem c-inner-sp--sm">
                      <div class="navigationHeader p-navigationHeader col-xs-12 col-md">
                        <a href="https://arow.world/">
                          <div class="p-header__nav-heading p-header__logo c-img c-img--responsive-v u-align-left pera1-removable">
                            <img class="pera1-editable" src="../../img/logo.png" alt="" data-structure="e-img">
                          </div>
                        </a>
                      </div>
                      <div class="btn_navigationToggle p-btn_navigationToggle"><i class="fa"></i></div>
                    </div>
                    <ul class="m_navigationMenu p-m_navigationMenu col-xs-12 col-md u-fslg" data-textcolor="#fff" style="color: rgb(255, 255, 255);"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-heading-has-shoulder" data-block-name="小見出し" id="section-7">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
      <div class="c-wrapper">
        <div class="p-heading__inner">

          <div class="c-heading c-heading--bdr-btm pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable">【メディア掲載】AROWについて「4Gamer.net」、「Gamer」、「Social Game Info」に掲載されました。</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" id="section-13">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
      <div class="c-wrapper c-wrapper--sm">
        <div class="c-inner c-inner--lg c-inner--vertical">
          <div data-structure="e-text" class="pera1-editable">一般社団法人コンピュータエンターテインメント協会（CESA）が、8月22日～8月24日までの3日間、パシフィコ横浜にて開催した国内最大のゲーム開発者向けカンファレンス「CEDEC 2018」にて、「3Dリアルマップを用いたモバイルゲーム開発の課題とその解決方法」というセッションを実施し、AROWの発表を行いました。<br>こちらの講演に関して、「4Gamer.net」、「Gamer」、「Social
            Game Info」にて記事掲載されました。<br></div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-8">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
      <div class="c-wrapper u-align-center">
        <div class="c-inner c-inner--lg c-inner--vertical">

          <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="../../img/news/cedec_2018.jpg" alt="" data-structure="e-img">
          </div>
          <div class="c-wrapper c-wrapper--no-gutter c-wrapper--sm u-mbmd pera1-removable">
            <div data-structure="e-text" class="pera1-editable">
              <div style="text-align: left;" data-mce-style="text-align: left;">▼4Gamer.net掲載記事リンク<a href="https://www.4gamer.net/games/999/G999905/20180825002/" target="_blank" data-mce-href="https://www.4gamer.net/games/999/G999905/20180825002/"><br>［CEDEC
                  2018］位置情報ゲームの開発者に朗報。1万MAUまで無料で使える新サービスが紹介されたセッションをレポート│4Gamer.net<br><br></a>▼Gamer掲載記事リンク</div>
              <div style="text-align: left;" data-mce-style="text-align: left;"><a href="https://www.gamer.ne.jp/news/201808240095/" target="_blank" data-mce-href="https://www.gamer.ne.jp/news/201808240095/">ドリコムが位置情報と3DリアルマップによるARアプリ構築プラットフォーム「AROW」を発表！【CEDEC
                  2018】 開発における課題やその解決方法を解説│Gamer</a></div>
              <div style="text-align: left;" data-mce-style="text-align: left;">&nbsp;<br>▼Social Game Info掲載記事リンク<br></div>
              <div style="text-align: left;" data-mce-style="text-align: left;"><a href="https://gamebiz.jp/?p=218951" target="_blank" data-mce-href="https://gamebiz.jp/?p=218951">【CEDEC
                  2018】「AROW」で位置情報ARマップゲームをより安く・早く開発　ドリコムが位置情報3Dリアルマップを用いたモバイルゲーム開発の課題と解決方法を伝授│Social Game Info<br></a><br><a href="https://www.gamer.ne.jp/news/201808240095/" target="_blank" data-mce-href="https://www.gamer.ne.jp/news/201808240095/"><br></a><br></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-heading-has-shoulder" data-block-name="小見出し" id="section-9">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="4">
      <div class="c-wrapper">
        <div class="p-heading__inner">

          <div class="c-heading c-heading--bdr-btm pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable">AROWについて</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" id="section-10">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
      <div class="c-wrapper c-wrapper--sm">
        <div class="c-inner c-inner--lg c-inner--vertical">
          <div data-structure="e-text" class="pera1-editable">
            <p>AROWは、位置情報と3Dリアルマップによってこれまでにない没入感と新しいゲーム体験を実現するためのプラットフォームです。<br>個人開発者・インディーゲーム開発者も気軽に利用できるプラットフォームとして、Unityで編集可能な3DマップデータおよびPOIデータの提供を予定しています。<br>現在、2019年リリース予定のオープンテスト版にご協力いただける開発者様を募集しています。</p>
            <p>オープンテスト版に関する今後のアップデート情報をご希望の開発者様は以下のフォームより事前登録をお願いいたします。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-btn" data-block-name="ボタン(中)" id="section-11">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="6">
      <div class="c-wrapper u-align-center">
        <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
          <div class="c-btn"><a class="pera1-editable" href="https://docs.google.com/forms/d/e/1FAIpQLSfRBGnAMrGwbjj7Iy-XNnUtKhju9TPToQH3_mHIbdD2lZ8E6g/viewform" data-structure="e-btn" target="_blank">オープンテスト版事前登録</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-html-code" data-block-name="HTML埋め込み" id="section-12">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="7">
      <div class="c-wrapper">
        <div class="c-inner c-inner--lg c-inner--vertical">
          <div class="pera1-editable" data-pera1-type="embed_html" data-pera1-embed_block_id="5b90bc97-3680-4b14-b0f7-59680a0000c5"><br>
            <br>
            <br></div>
        </div>
      </div>
    </div>
  </div>
  <div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="8" style="background-image: url(&quot;../../img/black_space.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
      <div class="c-wrapper c-wrapper">
        <div class="p-footer__inner">
          <div class="u-align-center">
            <div data-structure="e-text" class="pera1-editable">Copyright 2018 株式会社ドリコム</div>
          </div>
        </div>
      </div>
    </div>
  </div>










  <script id="tmpl_nav" type="text/x-template">
    <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
  <script id="template_html" type="text/x-template"></script>
</body>

</html>
