<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="utf-8">
  <title>利用規約│アニマルランランド</title>
  <meta name="description" content="CEDEC 2018にて発表されたAROWについての記事が「4gamer、gamer、SGIに掲載されました。">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../css/base.css" rel="stylesheet">

  <script src="//assets.peraichi.com/js/const_common.js"></script>
  <script src="//assets.peraichi.com/js/const_production.js"></script>
  <script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
  <script src="//static.quant.jp/lait.js" data-lait="on" data-sid="2bad96c669fe37b88a24137c4092b472" data-tag-version="1.0.0" defer async></script>
  <link rel="icon" href="../../img/icon.png">
  <meta property="og:image" content="../../img/ogimage.jpg">
  <meta property="og:url" content="https://arow.world/animalrunland/terms">
  <meta property="og:title" content="利用規約│アニマルランランド">
  <meta property="og:site_name" content="利用規約│アニマルランランド">
  <meta property="og:description" content="利用規約">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script type="text/javascript" src="../js/lazysizes.min.js"></script>
  <script type="text/javascript" src="../js/lazyLoad.js"></script>
  <script type="text/javascript" src="../js/peraichi_setting.js"></script>
</head>

<body class="theme-base theme-blank" data-template-name="blank" style="overflow: auto; padding-top: 0px;">
  <div class="pera1-section block" data-structure="b-html-code" data-block-name="HTML埋め込み(横幅フル)" id="section-14">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="0">
      <div class="pera1-editable" data-pera1-type="embed_html" data-pera1-embed_block_id="5b90c7c2-02fc-45dc-9b74-6e980a0000c5">
        <div class="pera1-section block" data-structure="b-header-nav-logo-img" data-block-name="左画像+右メニュー" id="section-2">
          <div class="p-header">
            <div class="section">
              <div class="m_navigation p-m_navigation u-align-right pera1-editable" data-pera1-type="navigation" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); text-align: right;">
                <div class="grid-wrapper grid-wrapper--lg p-navigation__wrapper">
                  <div class="p-navigation row middle-xs">
                    <div class="c-inner c-inner--vertical c-inner--one-elem c-inner-sp--sm">
                      <div class="navigationHeader p-navigationHeader col-xs-12 col-md">
                        <a href="https://arow.world/">
                          <div class="p-header__nav-heading p-header__logo c-img c-img--responsive-v u-align-left pera1-removable">
                            <img class="pera1-editable" src="../../img/logo.png" alt="" data-structure="e-img">
                          </div>
                        </a>
                      </div>
                      <div class="btn_navigationToggle p-btn_navigationToggle"><i class="fa"></i></div>
                    </div>
                    <ul class="m_navigationMenu p-m_navigationMenu col-xs-12 col-md u-fslg" data-textcolor="#fff" style="color: rgb(255, 255, 255);"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-heading-has-shoulder" data-block-name="小見出し" id="section-7">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
      <div class="c-wrapper">
        <div class="p-heading__inner">

          <div class="c-heading c-heading--bdr-btm pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable">利用規約</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" id="section-13">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
      <div class="c-wrapper c-wrapper--sm">
        <div class="c-inner c-inner--lg c-inner--vertical">
          <div data-structure="e-text" class="pera1-editable mb-5">
          本利用規約（以下「本規約」といいます。）は、株式会社ドリコム（以下「当社」といいます。）が提供するアプリケーション「アニマルランランド」（以下「本サービス」といいます。）について、本サービスの利用者（以下「お客様」といいます。）と当社との間で、利用に関する条件を定めるものです。
          </div>
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第1条（本利用規約について）</h2>
          <ul class="term-list">
            <li>
              本規約はお客様が本サービスを利用する際の一切の行為に適用されるものとします。
            </li>
            <li>
              お客様は本サービスを実際に利用することによって、本規約の全ての内容に同意をしたものとみなされます。
            </li>
            <li>
              当社が本サービス内において、別途定めるルール、ガイドライン等（以下「個別規約」といいます。）は、本規約の一部を構成するものとします。本規約と個別規約に矛盾がある場合は、個別規約が優先するものとします。
            </li>
            <li>
              当社はお客様の事前の承諾なく本規約を変更することができるものとします。本規約の変更は、本サービス上に表示した時点より、効力を生じるものとします。本規約の変更後に、本サービスの利用を継続している場合、変更後の本規約の内容に同意しているものとみなされます。
            </li>
          </ul>
          </div>
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第2条（投稿データ）</h2>
          <ul class="term-list">
            <li>
              お客様は、本サービスに投稿、送信、アップロードしたコンテンツ（以下「投稿データ」といいます。）について、第三者の権利を侵害していないことを保証するものとします。
            </li>
            <li>
              投稿データに起因して、お客様と第三者等との間で何らかの紛争が発生した場合には、お客様の費用と責任でこれを解決するものとします。
            </li>
            <li>
              投稿データの著作権は、お客様または正当な権利者に留保されるものとします。ただし、当社は、本サービスの円滑な提供およびシステムの構築、改良、メンテナンスに必要な範囲で投稿データを利用できるものとします。
            </li>
            <li>
              当社は、必要と判断した場合、お客様に事前に通知することなく投稿データを削除することができるものとします。当社は、投稿データの削除により、お客様に生じた損害について一切責任を負わないものとします。
            </li>
          </ul>
          </div>
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第3条（ゲームデータ）</h2>
          <ul class="term-list">
            <li>
              お客様は、本サービスのアイテム、進行状況等のゲームに関するデータ（以下「ゲームデータ」といいます。）について、本規約に従った利用の範囲内で利用することができるものとします。
            </li>
            <li>
              当社は以下のいずれかに該当する場合、お客様に事前に通知することなく、ゲームデータの全部または一部を削除、移動または変更できるものとします。
            </li>
              <ul class="term-list2">
                <li>
                  データ容量が当社の制限を超過した場合
                </li>
                <li>
                  当社が本サービスの保守管理上必要と判断した場合
                </li>
                <li>
                  当社が本サービスの円滑な提供の妨げになると判断した場合
                </li>
                <li>
                  第8条に基づきお客様が利用停止等の処分となった場合
                </li>
                <li>
                  その他、当社が必要と判断した場合
                </li>
              </ul>
          </ul>
          </div>
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第4条（個人情報等の取扱い）</h2>
          当社は、別途定めるプライバシーポリシー基づき、ユーザーから取得した情報を適切に取り扱うものとします。
          </div>
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第5条（知的財産権）</h2>
          本サービスおよび本サービスに関連する一切の情報の著作権、ならびにその他一切の知的財産権は、全て当社または当社にその利用を許諾した権利者に帰属するものとします。お客様はこれらの情報について、本規約に従った利用の範囲においてのみ利用することができ、当社の同意なく、複製、譲渡、貸与、翻訳、改変および公衆送信等の知的財産権を害する行為をしてはならないものとします。
          </div>
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第6条（本サービスの停止、中断、変更および終了）</h2>
          <ul class="term-list">
            <li>
              当社は以下のいずれかに該当する場合は、お客様に事前に通知することなく、当社の都合により本サービスの全部または一部の提供を停止もしくは中断することができるものとします。
            </li>
              <ul class="term-list2">
                <li>
                  本サービスに係るネットワーク・システムの点検または保守作業を行う場合
                </li>
                <li>
                  ネットワーク、通信回線等が停止した場合
                </li>
                <li>
                  地震、落雷、火災、風水害、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合
                </li>
                <li>
                  その他、当社が停止または中断を必要と判断した場合
                </li>
              </ul>
            <li>
              当社は、お客様に事前に通知することなく、当社の都合により、本サービスの内容を変更し、もしくは全部または一部の提供を終了することができます。ただし、本サービスの全ての提供を終了する場合、当社はお客様に事前に通知するものとします。
            </li>
            <li>
              当社は、本条に基づく本サービスの停止、中断、変更および終了に起因してお客様に生じた損害に対して、一切の責任を負わないものとします。
            </li>
          </ul>
          </div>
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第7条（禁止行為）</h2>
            お客様は、本サービスの利用にあたり、以下の各号に該当すると当社が判断する行為（以下「禁止行為」といいます。）を行ってはならないものとします。お客様が禁止行為を行った場合、当社は事前に通知することなく第9条に定める利用停止等の措置を行う場合があります。この場合、当社に対するご質問やご意見には対応いたしませんのでご了承ください。
              <ul class="term-list2">
                <li>
                  法令または公序良俗に違反する行為
                </li>
                <li>
                  犯罪行為またはこれを予告、関与、助長する行為
                </li>
                <li>
                  当社および第三者等の知的財産権、肖像権、名誉、プライバシー、その他の権利または利益を侵害する行為もしくは侵害する恐れのある行為
                </li>
                <li>
                  わいせつ、児童ポルノ、または児童虐待に相当する情報等を掲載する、もしくはこれらの情報を収録した媒体を販売または宣伝する行為
                </li>
                <li>
                  面識のない異性との出会い等を目的として利用する行為またはこれを誘引・助長する行為
                </li>
                <li>
                  性行為、わいせつな行為等を目的とする行為またはこれを誘引・助長する行為
                </li>
                <li>
                  未成年者の人格形成等に悪影響を与えると判断される行為
                </li>
                <li>
                  違法な賭博・ギャンブルを誘引・助長する行為
                </li>
                <li>
                  政治的または宗教的活動、その他これらに類似する行為
                </li>
                <li>
                  反社会的勢力等に協力・関与する行為またはこれらに勧誘する行為
                </li>
                <li>
                  虚偽の申告または詐術等により当社の業務を妨害する行為、または義務や理由のないことを当社または第三者等に対して強要する行為
                </li>
                <li>
                  第三者等になりすます、または第三者等の名義により本サービスを利用する行為
                </li>
                <li>
                  本規約への違反行為により利用停止されたお客様が再度本サービスの利用を開始する行為
                </li>
                <li>
                  他のお客様の個人情報等を収集、蓄積、利用する行為またはその準備行為
                </li>
                <li>
                  以下に該当すると当社が判断する情報（画像およびリンクの掲載を含むものとする）を本サービスに掲載する行為
                </li>
                <ul class="term-list3">
                    <li>
                      <span>&#9312;</span>暴力的・残虐な表現を含む情報
                    </li>
                    <li>
                      <span>&#9313;</span>コンピューターウィルスその他の有害なコンピュータープログラムを含む情報
                    </li>
                    <li>
                      <span>&#9314;</span>民族・人種・性別・年齢等の差別となる表現、または差別を誘発・助長する恐れのある表現を含む情報
                    </li>
                    <li>
                      <span>&#9315;</span>自殺、自傷行為を誘発・助長、またはこの恐れのある表現を含む情報
                    </li>
                    <li>
                      <span>&#9316;</span>薬物の不適切な利用を誘発・助長、またはこの恐れのある表現を含む情報
                    </li>
                    <li>
                      <span>&#9317;</span>他人に不快感を与える表現を含む情報
                    </li>
                    <li>
                      <span>&#9318;</span>チェーンメール、ねずみ講等の第三者への拡散を求める情報
                    </li>
                    <li>
                      <span>&#9319;</span>当社が事前に許可していないアフィリエイト、または招待することでポイント等の利益が発生するサイト等へ誘導する情報
                    </li>
                    <li>
                      <span>&#9320;</span>虚偽または誤解を招くような内容を含む情報
                    </li>
                    <li>
                      <span>&#9321;</span>本人、第三者の如何を問わず個人のメールアドレス、電話番号、金融機関口座番号、住所など個人を特定しうる情報
                    </li>
                </ul>
                <li>
                  本サービスから得られた情報について、営利目的で利用する行為
                </li>
                <li>
                  当社が事前に許可していない、本サービス上での商業行為（宣伝、広告、勧誘または営業行為）
                </li>
                <li>
                  本サービスの不具合に関する情報を、第三者等に対して故意に提供または開示する行為
                </li>
                <li>
                  当社のサポートメールの内容、またはサポートメールから得られた情報について、無断転載等の二次利用または第三者等に開示する行為
                </li>
                <li>
                  本サービスまたはサーバーのバグ、誤動作等の不具合、ならびに当社が意図していない一切の状態を利用した、不正な目的による行為、自己または第三者等の利益となる行為もしくはそれを誘引・助長する行為
                </li>
                <li>
                  ウイルス等の有害なコンピュータープログラムを当社または第三者等に、送信または頒布する行為
                </li>
                <li>
                  本サービスまたは公式サイトの消去、改変（データの改ざんを含む）、修正、翻案、二次的著作物の作成、逆コンパイル、逆アセンブルまたはリバースエンジニアリング、もしくはこれらの行為を誘引・助長する行為
                </li>
                <li>
                  ゲームデータの改ざんまたはチート行為等の不正行為、当社のサーバーに負荷をかける行為、もしくは本サービスの運営、ネットワーク・システム等に支障を与える行為
                </li>
                <li>
                  前各号の他、本サービスの運営を妨害する恐れのある行為
                </li>
                <li>
                  当社が認める方法によらずに、金の馬蹄石、ゲームデータ等の本サービスのコンテンツを第三者に貸与または譲渡する行為
                </li>
                <li>
                  ゲームデータ等の本サービスのコンテンツを、本サービス内外において現実の通貨、財物、その他財産上の利益により取引し、またはこれを誘引・助長する行為
                </li>
                <li>
                  前各号の行為を直接または間接に惹起し、もしくは容易にする行為
                </li>
                <li>
                  その他当社が不適切と判断する行為
                </li>
                </ul>
          </div>
          
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第8条（利用停止等）</h2>
          <ul class="term-list">
            <li>
              当社は、お客様が前条に定める禁止行為を行った場合、その他の本規約の条項に反した場合、または当社が必要と判断した場合、お客様に事前に通知することなく、以下の各号に定める全部または一部の措置をとることができるものとします。
            </li>
              <ul class="term-list2">
                <li>
                  投稿データ・ゲームデータ等の利用制限または削除
                </li>
                <li>
                  本サービスの利用の一時停止
                </li>
                <li>
                  本サービスの利用の永久停止（強制退会）
                </li>
                <li>
                  損害賠償の請求
                </li>
              </ul>
            <li>
              当社は前項の措置に起因して、お客様に生じた損害に対して一切の責任を負わないものとします。また、お客様は強制退会に伴い、ゲームデータ等が消滅することに同意するものとします。
            </li>
          </ul>
          </div>
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第9条（免責事項）</h2>
          <ul class="term-list">
            <li>
              本サービスは、当社がその時点で提供可能なものとします。当社は、本サービスの完全性、確実性、有用性、お客様の利用目的および利用環境との適合性、ならびに本サービスおよびお客様に適用のある法令または業界団体の内部規則等への適合についていかなる保証も行わないものとします。
            </li>
            <li>
              当社は、第三者等（電気通信事業者その他の事業者も含みます。）に起因して、お客様に生じた損害について、一切の責任を負わないものとします。
            </li>
            <li>
              本サービスの利用において、お客様と第三者等との間で紛争を生じた場合、お客様は自己の費用と責任において、かかる紛争を解決し、損害を賠償するものとします。
            </li>
            <li>
              本サービスの利用において、お客様による第三者等の権利の侵害があり、当該第三者等への対応に関連して当社に賠償金、その他の費用が発生した場合、お客様が当該賠償金その他の費用を負担するものとします。
            </li>
          </ul>
          </div>
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第10条（損害賠償）</h2>
            本サービスの利用について、当社の債務不履行または不法行為によりお客様に損害が発　生した場合、当社は実際に発生した、直接かつ通常の損害に限り責任を負うものとします。また、当社が責任を負う額は、損害が発生するまでにお客様が本サービスの対価として支払った金額を上限とします。ただし、当社に故意または重過失がある場合はこの限りではありません。
          </div>
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第11条（通知方法）</h2>
          <ul class="term-list">
            <li>
              当社からお客様への通知は、本サービス内の告知、本サービスの公式サイト、その他当社が適当と判断する方法により行われるものとします。
            </li>
            <li>
              前項の通知が本サービス内の告知により行われる場合には、当該告知が本サービス内で表示された時点においてお客様への通知が完了したものとみなします。
            </li>
          </ul>
          </div>
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第12条（本規約の有効性）</h2>
          <ul class="term-list">
            <li>
              本規約のいずれかの条項またはその一部が法令等により無効と判断された場合であっても、本規約のその他の規定は効力を有するものとします。
            </li>
            <li>
              本規約の規定の一部が、あるお客様との関係で無効とされ、または取り消された場合でも、その他のお客様との関係では有効とします。
            </li>
          </ul>
          </div>
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第13条（権利義務の譲渡）</h2>
          <ul class="term-list">
            <li>
              お客様は、当社の書面による事前の承諾なく、本規約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることができません。
            </li>
            <li>
              当社は本サービスに係る事業を他社に譲渡した場合（会社分割その他事業が移転するあらゆる場合を含むものとします。）には、当該事業譲渡に伴い契約上の地位、本規約に基づく権利義務およびゲームデータ等の情報を当該事業譲渡の譲受人に譲渡することができるものとし、お客様はかかる譲渡につき予め同意するものとします。
            </li>
          </ul>
          </div>
          
          <div data-structure="e-text" class="pera1-editable mb-5">
          <h2 class="term-title">第14条（準拠法と管轄裁判所）</h2>
          <ul class="term-list">
            <li>
              本規約の準拠法は日本法とします。
            </li>
            <li>
              当社とお客様の間で紛争が生じた場合には、東京地方裁判所を専属的合意管轄裁判所とします。
            </li>
          </ul>
          </div>
          
          <div style="text-align: right;">2018年11月15日制定</div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-html-code" data-block-name="HTML埋め込み" id="section-12">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="7">
      <div class="c-wrapper">
        <div class="c-inner c-inner--lg c-inner--vertical">
          <div class="pera1-editable" data-pera1-type="embed_html" data-pera1-embed_block_id="5b90bc97-3680-4b14-b0f7-59680a0000c5"><br>
            <br>
            <br></div>
        </div>
      </div>
    </div>
  </div>
  <div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="8" style="background-image: url(&quot;../../img/black_space.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
      <div class="c-wrapper c-wrapper">
        <div class="p-footer__inner">
          <div class="u-align-center">
            <div data-structure="e-text" class="pera1-editable">Copyright 2018 株式会社ドリコム</div>
          </div>
        </div>
      </div>
    </div>
  </div>










  <script id="tmpl_nav" type="text/x-template">
    <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
  <script id="template_html" type="text/x-template"></script>
</body>

</html>
