<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="utf-8">
  <title>利用規約│アニマルランランド</title>
  <meta name="description" content="CEDEC 2018にて発表されたAROWについての記事が「4gamer、gamer、SGIに掲載されました。">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../css/base.css" rel="stylesheet">

  <script src="//assets.peraichi.com/js/const_common.js"></script>
  <script src="//assets.peraichi.com/js/const_production.js"></script>
  <script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
  <script src="//static.quant.jp/lait.js" data-lait="on" data-sid="2bad96c669fe37b88a24137c4092b472" data-tag-version="1.0.0" defer async></script>
  <link rel="icon" href="../../img/icon.png">
  <meta property="og:image" content="../../img/ogimage.jpg">
  <meta property="og:url" content="https://arow.world/animalrunland/terms">
  <meta property="og:title" content="利用規約│アニマルランランド">
  <meta property="og:site_name" content="利用規約│アニマルランランド">
  <meta property="og:description" content="利用規約">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script type="text/javascript" src="../js/lazysizes.min.js"></script>
  <script type="text/javascript" src="../js/lazyLoad.js"></script>
  <script type="text/javascript" src="../js/peraichi_setting.js"></script>
</head>

<body class="theme-base theme-blank" data-template-name="blank" style="overflow: auto; padding-top: 0px;">
  <div class="pera1-section block" data-structure="b-html-code" data-block-name="HTML埋め込み(横幅フル)" id="section-14">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="0">
      <div class="pera1-editable" data-pera1-type="embed_html" data-pera1-embed_block_id="5b90c7c2-02fc-45dc-9b74-6e980a0000c5">
        <div class="pera1-section block" data-structure="b-header-nav-logo-img" data-block-name="左画像+右メニュー" id="section-2">
          <div class="p-header">
            <div class="section">
              <div class="m_navigation p-m_navigation u-align-right pera1-editable" data-pera1-type="navigation" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); text-align: right;">
                <div class="grid-wrapper grid-wrapper--lg p-navigation__wrapper">
                  <div class="p-navigation row middle-xs">
                    <div class="c-inner c-inner--vertical c-inner--one-elem c-inner-sp--sm">
                      <div class="navigationHeader p-navigationHeader col-xs-12 col-md">
                        <a href="https://arow.world/">
                          <div class="p-header__nav-heading p-header__logo c-img c-img--responsive-v u-align-left pera1-removable">
                            <img class="pera1-editable" src="../../img/logo.png" alt="" data-structure="e-img">
                          </div>
                        </a>
                      </div>
                      <div class="btn_navigationToggle p-btn_navigationToggle"><i class="fa"></i></div>
                    </div>
                    <ul class="m_navigationMenu p-m_navigationMenu col-xs-12 col-md u-fslg" data-textcolor="#fff" style="color: rgb(255, 255, 255);"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-heading-has-shoulder" data-block-name="小見出し" id="section-7">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
      <div class="c-wrapper">
        <div class="p-heading__inner">

          <div class="c-heading c-heading--bdr-btm pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable">利用規約</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" id="section-13">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
      <div class="c-wrapper c-wrapper--sm">
        <div class="c-inner c-inner--lg c-inner--vertical">
          <div data-structure="e-text" class="pera1-editable">さしすせそ</div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section block" data-structure="b-html-code" data-block-name="HTML埋め込み" id="section-12">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="7">
      <div class="c-wrapper">
        <div class="c-inner c-inner--lg c-inner--vertical">
          <div class="pera1-editable" data-pera1-type="embed_html" data-pera1-embed_block_id="5b90bc97-3680-4b14-b0f7-59680a0000c5"><br>
            <br>
            <br></div>
        </div>
      </div>
    </div>
  </div>
  <div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="8" style="background-image: url(&quot;../../img/black_space.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;">
      <div class="c-wrapper c-wrapper">
        <div class="p-footer__inner">
          <div class="u-align-center">
            <div data-structure="e-text" class="pera1-editable">Copyright 2018 株式会社ドリコム</div>
          </div>
        </div>
      </div>
    </div>
  </div>










  <script id="tmpl_nav" type="text/x-template">
    <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
  <script id="template_html" type="text/x-template"></script>
</body>

</html>
